<div class="calculator">
  <h2 class="heading">Currency Calculator</h2>

  <form [formGroup] = "currencyForm" (ngSubmit)="onSubmit()">
    <div class="form-controls">
      <input
        type="number"
        id="amount"
        formControlName="amount"
        min="1"
        placeholder="Enter Amount to be converted..."
      />
      <div class="controls">
        <select formControlName="fromCurrency" id="fromCurrency">
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
          <option value="INR">INR</option>
          <option value="GBP">GBP</option>
          <option value="JPY">JPY</option>
        </select>

        <input type="submit" id="submit" value="Convert" />

        <select formControlName="toCurrency" id="toCurrency">
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
          <option value="INR">INR</option>
          <option value="GBP">GBP</option>
          <option value="JPY">JPY</option>
        </select>
      </div>
    </div>
  </form>
</div>
